$color-dark-dark: #010101;
$color-dark-dark-contrast: #FFF;
$color-dark: #4F4E4E;
$color-dark-contrast: #FFF;
$color-dark-light: #808285;
$color-dark-light-contrast: #FFF;
$color-dark-accent: #BCBEC0;
$color-dark-accent-contrast: #000;

$color-primary-dark: #172952;
$color-primary-dark-contrast: #FFF;
$color-primary: #0088CE;
$color-primary-contrast: #FFF;
$color-primary-light: #98D0EA;
$color-primary-light-contrast: $color-primary-dark;
$color-primary-accent: #11E3FC;
$color-primary-accent-contrast: $color-dark-dark;

$color-secondary-dark: #E70000;
$color-secondary-dark-contrast: #FFF;
$color-secondary: #F47D20;
$color-secondary-contrast: #FFF;
$color-secondary-light: #F9CAA6;
$color-secondary-light-contrast: $color-dark-dark;
$color-secondary-accent: #F2AF00;
$color-secondary-accent-contrast: $color-dark-dark;

$color-light-dark: #CCC;
$color-light-dark-contrast: $color-dark-dark;
$color-light: #E6E7E8;
$color-light-contrast: #000;
$color-light-light: #FFF;
$color-light-light-contrast: $color-dark-dark;
$color-light-accent: #F5F5F5;
$color-light-accent-contrast: $color-dark-dark;

$color-accent-dark: #417505;
$color-accent-dark-contrast: #FFF;
$color-accent: #FF9933;
$color-accent-contrast: $color-dark-dark;
$color-accent-light: #B8E986;
$color-accent-light-contrast: $color-dark-dark;
$color-accent-accent: #CCDB47;
$color-accent-accent-contrast: #000;